<div id="<%= id %>" class="avp-control-bar">
    <div class="avp-left">
        <button class="avp-control-bar-play-pause">
            <div class="avp-play">
                <%= renderIcon("play", t("controlBar.playLabel")) %>
            </div>
            <div class="avp-pause">
                <%= renderIcon("pause", t("controlBar.pauseLabel")) %>
            </div>
        </button>
        <div class="avp-time">
            <span class="avp-current-time">-</span>
            <span class="avp-time-separator">/</span>
            <span class="avp-total-time">-</span>
        </div>
    </div>
    <div class="avp-right">
        <button class="avp-control-bar-marker">
            <%= renderIcon("marker", t("controlBar.markerLabel")) %>
        </button>
        <div class="avp-control-bar-volume-container">
            <button class="avp-control-bar-volume">
                <%= renderIcon("volume", t("controlBar.volumeLabel")) %>
            </button>
            <div class="avp-control-bar-volume-panel avp-popin">
                <button class="avp-volume-down-button">
                    <%= renderIcon("volume-down", t("controlBar.volumeDecreaseLabel")) %>
                </button>
                <div class="avp-range-slider">
                    <input type="range" min="0" max="100" value="<%= currentVolume %>" />
                    <div class="avp-range-slider-total">
                        <div class="avp-range-slider-lower"></div>
                    </div>
                </div>
                <button class="avp-volume-up-button">
                    <%= renderIcon("volume-up", t("controlBar.volumeIncreaseLabel")) %>
                </button>
            </div>
        </div>
        <button class="avp-control-bar-settings">
            <%= renderIcon("settings", t("controlBar.settingsLabel")) %>
        </button>
        <button class="avp-control-bar-fullscreen">
            <div class="avp-fullscreen-off">
                <%= renderIcon("fullscreen-off", t("controlBar.enterFullscreenLabel")) %>
            </div>
            <div class="avp-fullscreen-on">
                <%= renderIcon("fullscreen-on", t("controlBar.exitFullscreenLabel")) %>
            </div>
        </button>
    </div>
    <%= generalSettings %>
    <%= displaySettings %>
    <%= languageSettings %>
    <%= subtitleSettings %>
    <%= subtitleDisplaySettings %>
    <%= playbackSpeedSettings %>
    <%= playbackQualitySettings %>
</div>
