<div id="<%= id %>" class="avp-control-bar">
    <div class="avp-left">
        <button class="avp-control-bar-play">
            <%= renderIcon("play", t("controlBar.playLabel")) %>
        </button>
        <button class="avp-control-bar-pause">
            <%= renderIcon("pause", t("controlBar.pauseLabel")) %>
        </button>
        <div class="avp-time">
            <span>00:03</span>
            <span class="avp-time-separator">/</span>
            <span>10:52</span>
        </div>
    </div>
    <div class="avp-right">
        <button class="avp-control-bar-marker">
            <%= renderIcon("marker", t("controlBar.markerLabel")) %>
        </button>
        <div class="avp-control-bar-volume-container">
            <button class="avp-control-bar-volume">
                <%= renderIcon("volume", t("controlBar.volumeLabel")) %>
            </button>
            <div class="avp-control-bar-volume-panel avp-popin">
                <div class="avp-range-slider">
                    <input type="range" min="1" max="100" value="<%= currentVolume %>" />
                    <div class="avp-range-slider-total">
                        <div class="avp-range-slider-lower"></div>
                    </div>
                </div>
            </div>
        </div>
        <button class="avp-control-bar-settings">
            <%= renderIcon("settings", t("controlBar.settingsLabel")) %>

        </button>
        <button class="avp-control-bar-enter-fullscreen">
            <%= renderIcon("fullscreen-off", t("controlBar.enterFullscreenLabel")) %>
        </button>
    </div>
    <%= generalSettings %>
    <%= displaySettings %>
    <%= languageSettings %>
    <%= subtitleSettings %>
    <%= subtitleDisplaySettings %>
    <%= playbackSpeedSettings %>
    <%= playbackQualitySettings %>
</div>
