<div id="<%= id %>" class="avp-display-settings avp-settings avp-popin">
    <div class="avp-header">
        <button class="avp-back-link">Back</button>
        <span role="header"><%= t("displaySettings.header") %></span>
    </div>
    <div class="avp-row">
        <button class="avp-language-settings-link"><%= t("displaySettings.languageSettingsLabel") %></button>
    </div>
    <div class="avp-row">
        <button class="avp-subtitle-settings-link"><%= t("displaySettings.subtitleSettingsLabel") %></button>
    </div>
    <div class="avp-row">
        <button class="avp-subtitle-display-settings-link"><%= t("displaySettings.subtitleDisplaySettingsLabel") %></button>
    </div>
    <div class="avp-row">
        <button class="avp-playback-speed-settings-link"><%= t("displaySettings.playbackSpeedSettingsLabel") %></button>
    </div>
    <div class="avp-row">
        <button class="avp-playback-quality-settings-link"><%= t("displaySettings.playbackQualitySettingsLabel") %></button>
    </div>
</div>
