<div
    id="<%= id %>"
    class="avp-general-settings avp-settings avp-popin"
    role="dialog"
    aria-labelledby="avp-general-settings-title"
>
    <div class="avp-header">
        <span id="avp-general-settings-title" role="header"><%= t("generalSettings.header") %></span>
    </div>

    <div class="avp-switch">
        <input type="checkbox" id="thumbnail-<%= id %>">
        <label for="thumbnail-<%= id %>">
            <span class="label">
                <%= t("generalSettings.thumbnailLabel") %>
            </span>
            <span class="avp-off"><%= t("switchControl.offLabel") %></span><span class="avp-control"></span><span class="avp-on"><%= t("switchControl.onLabel") %></span>
        </label>
    </div>
    <div class="avp-switch">
        <input type="checkbox" id="transcription-<%= id %>">
        <label for="transcription-<%= id %>">
            <span class="label">
                <%= t("generalSettings.transcriptionLabel") %>
            </span>
            <span class="avp-off"><%= t("switchControl.offLabel") %></span><span class="avp-control"></span><span class="avp-on"><%= t("switchControl.onLabel") %></span>
        </label>
    </div>
    <div class="avp-row">
        <button class="avp-display-settings-link">
            <%= t("generalSettings.displaySettingsLabel") %>
            <%= renderIcon("next", "") %>
        </button>
    </div>
</div>
