<div id="<%= id %>" class="avp-marker-form avp-popin">
    <div class="avp-header">
        <span class="avp-mode-1" role="header"><%= t("markerForm.addHeader") %></span>
        <span class="avp-mode-2" role="header"><%= t("markerForm.editHeader") %></span>
    </div>
    <form>
    <div class="avp-row">
        <input name="id" type="hidden" />
        <input name="timecode" type="hidden" />
        <label for="<%= id %>-title"><%= t("markerForm.titleLabel") %></label>
        <input name="title" id="<%= id %>-title" type="text" />
    </div>
    <div class="avp-row">
        <button class="avp-submit-button">
            <span class="avp-mode-1">
                <%= renderIcon("add", t("markerForm.addLabel")) %>
            </span>
            <span class="avp-mode-2">
                <%= renderIcon("edit", t("markerForm.editLabel")) %>
            </span>
        </button>
    </div>
    </form>
</div>
