<div id="<%= id %>" class="avp-marker avp-tooltip avp-template">
    <button class="avp-trigger">
    </button>

    <div class="avp-popin avp-target">
        <div class="avp-row">
            <div class="avp-marker-title"><%= title %></div>
            <div class="avp-marker-description"><%= description %></div>
            <button class="avp-edit-button"><%= renderIcon("marker-edit", t("marker.editLabel")) %></button>
            <button class="avp-delete-button"><%= renderIcon("marker-delete", t("marker.deleteLabel")) %></button>
        </div>
    </div>
</div>
