<div id="<%= id %>" class="avp-playback-speed-settings avp-settings avp-popin">
    <div class="avp-header">
        <button class="avp-back-link">
            <%= renderIcon("back", t("settings.back")) %>
        </button>
        <span role="header"><%= t("playbackSpeedSettings.header") %></span>
    </div>

    <div class="avp-row">
        <button class="avp-speed-decrease-button">
            <%= renderIcon("decrease", t("playbackSpeedSettings.decreaseLabel")) %>
        </button>
        <span class="avp-speed-factor">X1</span>
        <button class="avp-speed-increase-button">
            <%= renderIcon("increase", t("playbackSpeedSettings.increaseLabel")) %>
        </button>
    </div>
</div>
