<div id="<%= id %>" class="<%= classnames %>">
    <div class="avp-player-content">
        <div class="avp-video-group">
            <%= mainVideo %>
            <%= secondaryVideo %>
        </div>
        <%= transcriptionPanel %>
    </div>
    <div class="avp-player-control-group">
        <%= timeBar %>
        <%= controlBar %>
    </div>
    <%= thumbnailPanel %>
</div>
