<div id="<%= id %>" class="avp-player <%= classnames %>">
    <div class="avp-player-content">
        <div class="avp-video-group">
            <%= mainVideo %>
            <%= secondaryVideo %>
        </div>
        <%= transcriptionPanel %>
    </div>
    <%= controlBar %>
    <%= thumbnailPanel %>
</div>
