<div class="avp-radio-group">
    <% radioItems.forEach((radioItem) => { %>
        <div class="avp-radio">
            <input type="radio" value="<%= radioItem.value %>" name="<%= inputName %>[<%= formId %>]" id="<%= radioItem.id %>-<%= formId %>">
            <label for="<%= radioItem.id %>-<%= formId %>"><%= radioItem.label %></label>
        </div>
    <% }) %>

</div>
