<div
    id="<%= id %>"
    class="avp-subtitle-display-settings avp-settings avp-popin"
    role="dialog"
    aria-labelledby="avp-subtitle-display-settings-title"
>
    <div class="avp-header">
        <button
            class="avp-back-link"
            aria-label="<%= t('settings.backLabel') %> - <%= t('displaySettings.header') %>"
        >
            <%= renderIcon("back", t("settings.back")) %>
        </button>
        <span id="avp-subtitle-display-settings-title" role="header"><%= t("subtitleDisplaySettings.header") %></span>
    </div>

    <div class="avp-row">
        <label><%= t("subtitleDisplaySettings.fontLabel") %></label>
        <%= renderRadioGroup(id, "subtitle_font", fontRadioItems) %>
    </div>

    <div class="avp-row">
        <label><%= t("subtitleDisplaySettings.fontColorLabel") %></label>
        <%= renderRadioGroup(id, "subtitle_font_color", fontColorRadioItems) %>
    </div>

    <div class="avp-row">
        <label><%= t("subtitleDisplaySettings.backgroundColorLabel") %></label>
        <%= renderRadioGroup(id, "subtitle_bg_color", bgColorRadioItems) %>
    </div>
    <div class="avp-row">
        <label><%= t("subtitleDisplaySettings.fontSizeLabel") %></label>
        <span class="avp-input-group">
            <button class="avp-font-size-decrease-button">
                <%= renderIcon("decrease", t("subtitleDisplaySettings.fontSizeDecreaseLabel")) %>
            </button>
            <span class="avp-font-size-scaling-factor">X1</span>
            <button class="avp-font-size-increase-button">
                <%= renderIcon("increase", t("subtitleDisplaySettings.fontSizeIncreaseLabel")) %>
            </button>
        </span>
    </div>
</div>
