<svg viewBox="<%= icon.viewBox %>" role="img" aria-labelledby="svg-<%= icon.id %>-title" >
    <title id="svg-<%= icon.id %>-title"><%= label %></title>
    <use xlink:href="#<%= icon.id %>" />
</svg>
